{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "NONE"
    },
    "webFolder" : "",
    "langFolder" : "",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ]
  },
  "/idea" : {
    "path" : "/idea",
    "security" : {
      "module" : "NONE"
    },
    "icon" : "/ideaIC-2020.2.1/bin/idea.png",
    "webFolder" : "",
    "homeDir" : "/ideaIC-2020.2.1",
    "swingConfig" : {
      "name" : "IntelliJ IDEA 2020.2",
      "jreExecutable" : "/ideaIC-2020.2.1/jbr/bin/java",
      "javaVersion" : "11",
      "vmArgs" : "-Xms128m -Xmx750m -XX:ReservedCodeCacheSize=240m -XX:+UseConcMarkSweepGC -XX:SoftRefLRUPolicyMSPerMB=50 -ea -XX:CICompilerCount=2 -Dsun.io.useCanonPrefixCache=false -Djdk.http.auth.tunneling.disabledSchemes=\"\" -XX:+HeapDumpOnOutOfMemoryError -XX:-OmitStackTraceInFastThrow -Djdk.attach.allowAttachSelf=true -Dkotlinx.coroutines.debug=off -Djdk.module.illegalAccess.silent=true -Dawt.useSystemAAFontSettings=lcd -Dsun.java2d.renderer=sun.java2d.marlin.MarlinRenderingEngine -Didea.properties.file=/ideaIC-2020.2.1/bin/idea.properties -Didea.config.path=/intellij-config",
      "classPathEntries" : [ "/ideaIC-2020.2.1/lib/bootstrap.jar",
        "/ideaIC-2020.2.1/lib/extensions.jar",
    "/ideaIC-2020.2.1/lib/util.jar",
    "/ideaIC-2020.2.1/lib/jdom.jar",
    "/ideaIC-2020.2.1/lib/log4j.jar",
    "/ideaIC-2020.2.1/lib/trove4j.jar",
    "/ideaIC-2020.2.1/lib/jna.jar"],
      "theme" : "Murrine", 
      "maxClients" : 10,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "allowStealSession" : true,
      "antiAliasText" : true,
      "isolatedFs" : true,
      "debug" : true,
      "directdraw" : false,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "allowUpload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "fontConfig" : { },
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "com.intellij.idea.Main",
        "args" : null
      },
      "userDir" : "${user}",
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "transparentFileOpen" : true,
      "autoLogout" : true,
      "transferDir" : "${user}/upload",
      "allowedCorsOrigins" : ["*"]
    }
  }
}